
<div class="container">
    <div class="row">
        <img src="assets/Isetb.jpg" alt=" verifier image url "  width="100" height="100">
            <div style="color: blue;"> Institut Supérieur des études Technologiques de Bizerte</div>
            <hr> 
            <div style="float: right;margin-top: 50px;color: blue;"> المعهد العالي للدراسات التكنولوجية ببنزرت</div>
    </div>
    <hr>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" >
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
    <hr>
    <br>
    <div style="color: blue;text-align: center;">
        Description du ISETB :
    </div> 
    <hr>
    <div>
        ISET de Bizerte est un établissement public à caractère scientifique et technologique. 
        Sa principale mission consiste à contribuer au développement socio-économique et au 
        transfert technologique dans la région Bizerte ainsi que le renforcement de l'employabilité
            l’insertion professionnelle des diplômés de l’enseignement supérieur.
    </div> 
    <hr>
    <div style="color: blue;text-align: center;">
        Composants du bâtiment :
    </div> 
    <hr>
    <div>
        Les édifices de l’ISET de Bizerte se composent de quatre blocs d’une superficie 
        dépassant les 13 000m². Bloc N°1 : Hall principal et entrée des étudiants 
        et les invités de l’institut Ce premier bloc comprend entre autre :
    </div>
    <br>
    <div>
        Un amphi théâtre d’une capacité de 300 places destiné à l’enseignement ou toute
        autre manifestation (scientifiques ou autres). Une cinquantaine de salles de cours 
        d’une capacité moyenne de trente étudiants. 15 labos informatiques 13 labos génie
        électrique 9 labos génie de procédés 2 Laboratoires de génie mécanique Laboratoire 
        de langue Bibliothèque Salle de lecture Salle de révision
    </div>
    <hr>
    <div style="color: blue;text-align: center;">
        Bloc N°2 : Administration
    </div> 
    <hr>
    <div>
        Administration Scolarité Une salle de réunions
    </div> 
    <hr>
    <div style="color: blue;text-align: center;">
        Bloc N°3 : Bureaux et locaux divers
    </div> 
    <hr>
    <div>
        Bureaux pour enseignants Locaux pour les clubs et les activités 
        socio- culturelle des étudiants Terrains pour les activités sportives
            Librairie et photocopie Buvette
    </div> 
    <hr>
    <div style="color: blue;text-align: center;">
        Bloc N°4 : Bloc pépinière d’entreprise
    </div>
    <hr>
    <div>
        Superficie ; 2500 m² 14 bureaux Grand hall d'exposition 
    </div>
</div>